/*
* commented row-gap for cards with border-right and bottom in ProductCard.module.css
*/

/* .container {
  margin: 5rem 0;
  display: grid;
  padding: 0 1vw;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
} */

.wishlistContainer {
  padding: 5rem 0 2rem;
  /* padding-bottom: 2rem; */
}

.container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* row-gap: 2rem; */
}

.emptyWishlist {
  height: 60vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.emptyWishlist h3 {
  font-weight: 500;
  font-size: 1.25rem;
}

.emptyWishlist p {
  font-size: 0.75rem;
  color: var(--gray);
}

.emptyWishlist button {
  margin-top: 2rem;
}

.pageTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageName {
  font-size: 1.5rem;
  font-weight: 500;
}

.wishlistOverall span {
  font-size: 0.9rem;
  font-weight: 500;
}

.wishlistOverall span:first-child {
  color: var(--gray);
}
