.cartContainer {
  margin: 5rem 0;
  padding-bottom: 2rem;
}

.pageTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageName {
  font-size: 1.5rem;
  font-weight: 500;
}

.cartOverall span {
  font-size: 0.9rem;
  font-weight: 500;
}

.cartOverall span:first-child {
  color: var(--gray);
}

.container {
  margin: 1rem;
}

.emptyCart {
  height: 60vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.emptyCart h3 {
  font-weight: 500;
  font-size: 1.25rem;
}

.emptyCart p {
  font-size: 0.8rem;
  color: var(--gray);
}

.emptyCart button {
  margin-top: 2rem;
}

.priceContainer {
  margin: 1rem;
  margin-top: 2rem;
}

.priceContainer h3 {
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.priceText {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
}

.priceText span {
  font-size: 0.85rem;
}

.priceText:last-of-type {
  border-top: 1px solid var(--card-border);
  margin-top: 1rem;
  padding-top: 0.75rem;
  font-weight: 700;
}

.priceText:last-of-type span {
  font-size: 1rem;
}

.priceText .delivery {
  color: var(--secondary-color);
}

.checkoutButtonContainer {
  position: fixed;
  bottom: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 0 2px 0 rgb(148 150 159 / 30%);
  width: 100vw;
  height: 12vh;
  text-align: center;
}

.checkoutButton {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 999em;
  font-size: 0.9rem;
  padding: 1.25rem 9rem;
  cursor: pointer;
}

.checkoutButton:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
