.link {
  color: var(--white);
}

.cardHeader {
  z-index: -1;
}

.cardHeaderSpan {
  cursor: pointer;
}

.cardOverride {
  width: 48vw;
}

.button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
}
